        <main>
            <h1>O mnie</h1>
            <h2>Cześć!</h2>
            <p>Na imię mi Krzysiek i jestem "aspirującym programistą". Co to znaczy? W skrócie, nie mam doświadczenia, ale wiem dość by aktualnie coś pisać zamiast siedzieć na tyłku, jak tą stronę!</p>
            <p>W kwestii programowania lubię zderzać się z problemami i pracować by je rozwiązać, nie mając w zwyczaju się poddawać. Lubię wiedzieć co sprawia, że kod działa zamiast bezmyślnie kopiować linijki pisane przez innych oraz potrafię używać całkiem nieźle wyszukiwarek internetowych. W głównej mierze obecnie interesuje mnie praca jako webdeveloper - nie posiadam preferencji względem pozycji frontendowych a backendowych.</p>
            <p>Jeżeli chodzi o edukację, skończyłem IV liceum ogólnokształcące w Elblągu w klasie matematyczno-informatycznej oraz uczęszczałem na studia w dawnej PWSZ w Elblągu (teraz ANS w Elblągu) na kierunku Informatyka ze specjalizacją Projektowanie Baz Danych i Oprogramowanie Użytkowe. Studiów na chwilę obecną nie skończyłem - zostały przerwane na trzecim roku z powodów prywatnych. Planuję jednak je wznowić w trybie zaocznym.</p>
            <p>Oprócz programowania lubię jeździć na łyżwach, chodzić na dłuższe wycieczki czy grać w gry (zarówno komputerowe jak i planszowe).</p>
            <h2>A więc z czym potrafię działać?</h2>
            <table>
                <tr>
                    <th>Języki główne</th>
                    <td>PHP</td>
                    <td>JavaScript</td>
                    <td>C</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Podstawy</th>
                    <td>C#</td>
                    <td>C++</td>
                    <td>Java</td>
                    <td>Python</td>
                </tr>
                <tr>
                    <th>Frameworki</th>
                    <td>Mithril.js</td>
                    <td>Laravel</td>
                    <td>Vue.js</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Oczywistości</th>
                    <td>SQL*</td>
                    <td>HTML5</td>
                    <td>CSS3</td>
                    <td>GitHub</td>
                </tr>
            </table>
            <p class="smalltext">* PostgreSQL, MySQL, SQLite</p>
        </main>